*{
	box-sizing: border-box;
	margin: 2px 2px 2px 2px;
	font-family: monospace,helvetica,Georgia;
}

body{
	background-color: #BDC3C7;
	width: 100%;
	font-size: 100%;

}

h1{
	text-align: center;
	margin-bottom: 80px;
	margin-top: 50px;
	font-size: 1.75em;
}


	.title{
	box-sizing: border-box;
	width: 30%;
	height: 25px;
	color: white;
	margin: 0;
	border: 1px solid black;
	padding: 1px 1px 1px 1px;
	text-align: center;
	position: relative;
	left: 70%;
}

.text{

	color: white;
	padding: 10px;
	margin-top: 5px;
	font-size: 0.80em;
}

.ckn{
	background-color: #F02085;
}

.bff{
	background-color: #F02040;
}

.shs{
	
	background-color: #56AA40;
}

#chicken{
	background-color: #283747;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	border: 5px solid #BDC3C7;
	font-size: 1.25em;
}

#beef{
	background-color: #283747;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	border: 5px solid #BDC3C7;
	font-size: 1.25em;
}

#sushi
{
	background-color: #283747;
	height: auto;
	margin-right: auto;
	margin-left: auto;	
	border: 5px solid #BDC3C7;
	font-size: 1.25em;
}
@media (min-width: 992px)
{

	#chicken{
		width : 33%;
		float: left;
		
	}

	#beef{
		width : 33%;
		float: left;
				
	}

	#sushi{
		width : 33%;
		float: left;

	}
}

@media (max-width: 991.5px) and (min-width: 768px)
{
		#chicken{
		width : 50%;
		float: left;
	}

	#beef{
		width : 50%;
		float: left;
		clear: right;
	}

	#sushi{
		width : 100%;
		clear: left;
	}
}

@media (max-width: 767px)
{
		#chicken{
		width : 100%;
	}

	#beef{
		width : 100%;
	}

	#sushi{
		width : 100%;
	}
}